
/* ---------------Inicio das formatações no Body--------------*/
body{		

	font-size: 20px;		/*Adicionada fonte de 16pix padrão (1em) */	
	font-family: Inter;		/* formatado o estilo de letra */
	background: #e6e6e63d;		/*formatada uma cor de fundo para o body */
}

#Geral {

	display: flex;
}


/* ---------------Inicio das formatações do cabeçalho--------------*/

#Area-cabecalho {
	background-color: black;  /* Adicionada uma cor de fundo ao Cabeçalho */
	padding: 50px;				/*Formatado  espaçamento do Cabeçalho */
	text-align: center;			/*Formatado texto no centro */
	border-radius: 15px;

}

#Area-Nome {		/*Formatado espaçamento da area logo e area menu */	
	padding: 15px;
} 

.Nome{
	color:#00D2DF;			
}

#Area-Menu{
	margin-top: 25px;
}



/* ---------------Inicio das formatações menu lateral--------------*/



#Menu-lateral{
	background: black;			/* adicionada cor de fundo */
	padding: 25px;				/* configura o espaçamento interno do texto */
	margin-bottom: 30px;		/* formatado margem inferior  */
	margin-top: 15px;
	border-radius: 15px;

}

.foto{
    width: 60%;
	display: block;
	margin-left: 65px;
	border: solid #00D2DF;

}




/* ---------------Inicio das formatações menu central--------------*/


#Area-principal{
	margin-bottom: 30px;		/* formatado margem inferior  */
	margin-top: 15px;
	margin-left: 15px;
}


#Area-postagens{
	float: right;				/* posiciona a area de postagen a esquerda */
}




.postagem{
	padding: 20px;				/* configura o espaçamento interno do texto */
	margin-bottom: 15px;		/* formatado margem inferior  */
	background: black;			/* adicionada cor de fundo */
	border-radius: 15px;

    
}



.Icone{
    width: 10%;
	margin-top: 10%;
	margin-left: 35px;
}

#rodapé{
	clear: both;				/* remove o fluxo dos elementos flutuantes */
	text-align: center;			/* posiciona o texto no centro */
	padding: 15px;   			/* configura o espaçamento interno do texto */
	background: black;			/* adicionada cor de fundo */
	border: solid #00D2DF;
	color: white;


}


/* ---------------Inicio das formatações no menu---------------*/

a {
	text-decoration: none;		/*retirado o sublinhado das palavras */	
	color: white;
	padding: 8px 12px;			/*configurado cor e espaçamento interno dos parágrafos */
}

#Area-cabecalho a:link, 		/*configurando a cor do estado normal da palavra */
								
#Area-cabecalho a:visited{		/*configurando a cor de quando clica em cima da palavra */		
	color: #fff;
	padding: 8px 12px;			/*Colocado area cabecalho para restringir a configuração de cor e */		
}

#Area-cabecalho a:hover{		/*configurando a cor de quando passa o mouse em cima da palavra */	
	color: #00D2DF;
}



/* -------------- Inicio das Formatações em Geral-----------*/

h1{								/*configuração para os h1 do site */
	color: white;
	font-size: 2.5em;
}


h2{								/*configuração para os h2 do site */
	color: #00D2DF;
}


h3{								/*configuração para os h3 do site */
	text-decoration: none;		/*retirado o sublinhado das palavras */	
	color: white;
	margin-left: -240px
}


.branco{						/* formatada a cor branca na palavra blog */

	color: white;				
}


/*configuração para as imagens do site */

.img01{						
	width: 610px;					/* Adicionada um tamanho fixo a imagem */
	border: red  3px solid;			/* Adicionada uma borda a imagem */
}

.img02{						
	width: 610px;					/* Adicionada um tamanho fixo a imagem */
	border: blue  3px solid;		/* Adicionada uma borda a imagem */
}

.img03{
	width: 610px;					/* Adicionada um tamanho fixo a imagem */
	border: yellow  3px solid;		/* Adicionada uma borda a imagem */
}

.img04{
	width: 610px;					/* Adicionada um tamanho fixo a imagem */
	border: green  3px solid;		/* Adicionada uma borda a imagem */
}


/*configuração para os paragrafos do site */
.paragrafo{					
	padding-top: 10px;				/* formatado espaçamento interno superior  */
	text-align: justify;				/* justificado o texto */
	color: white;
}					
	